/* Header Styling */
.header {
  background: #000000;
  color: white;
  padding: 10px 20px;
  position: relative;
  transition: background 0.3s, padding 0.3s;
  display: flex;
  align-items: center;

  &.sticky {
    background: #000000;
    height: 40px;
  }
}

/* Logo Styling */
.logo {
  margin-right: 20px; // Add a margin between the logo and the nav
  background-color: #444;
  border-radius: 10px;

  img {
    width: 50px;
    height: 50px;
  }
}

/* Navbar Styling */
.nav {
  display: flex;
  justify-content: flex-end; // Aligns the nav links to the right
  align-items: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; // Space between nav items

    li {
      a {
        color: white;
        text-decoration: none;
        padding: 10px;
        display: block;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* Menu Toggle Styling */
.menu-toggle {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;

  .bar {
    background: white;
    height: 3px;
    width: 25px;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
    position: absolute;
    right: 20px;
    z-index: 10;
  }

  .header {
    height: 40px;
    justify-content: center;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
  }

  .nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #444;

    &.active {
      display: flex;
      flex-direction: column;
    }

    ul {
      flex-direction: column;
      width: 100%;
      padding: 0;
      margin: 0;
      background: linear-gradient(90deg, rgb(0, 102, 204) 0%, rgb(197, 0, 204) 100%);

      li {
        text-align: center;
        padding: 10px;
        border-top: 1px solid #444;

        a {
          padding: 10px;
        }
      }
    }
  }
}
